extends layout4

block content
doctype html
html
  head
    title= BANK ON YOURSELF
    link(rel='stylesheet', href='./stylesheets/style.css')
  body
    body
    header
      h2 BANK ON YOURSELF
    section
      nav
        ul
          li
            a(href='form') Home
          li
            a(href='aboutUsbus') About Us
          li
            a(href='bnkAccountBus') Bank Account
          li
            a(href='howTobus') How To
          li
            a(href='products2') Products 
          li
            a(href='solutions2') Solutions 
          li
            a(href='wayToBank2') Way To Bank 
          li
            a(href='logInbus') LOG IN
          li
            a(href='signUp') Sign Up
      article
        h1 London
        p
          | London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.
        p
          | Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.
    footer
      p Created by Jordan Jerome 
    