doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./stylesheets/style.css')
  body
    body
    header
      h2 BANK ON YOURSELF
    section
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='aboutUsbus') About Us
          li
            a(href='business') Business
          li
            a(href='howTobus') HowTo
          li
            a(href='LogIn') LogIn
          li
            a(href='products2') Products
          li
            a(href='solutions2') Solutions
          li
            a(href='wayTobank2') WayToBank
          li
            a(href='form2') Form 
          li
            a(href='signUp') Sign Up
      article
        h1 Toronto
    footer
      p Created by Jordan Jerome
    block content 
    