extends layout2

block content
  doctype html
html
  head
    title= BANK ON YOURSELF
    link(rel='stylesheet', href='./stylesheets/style.css')
  body
    body
    header
      h2 BANK ON YOURSELF
    section
      nav
        ul
          li
            a(href='form') Home
          li
            a(href='aboutUs') About Us
          li
            a(href='bankAccount') Bank Account
          li
            a(href='howTo') How To
          li
            a(href='products') Products 
          li
            a(href='solutions') Solutions 
          li
            a(href='wayToBank') Way To Bank 
          li
            a(href='logIn') LOG IN
          li
            a(href='signUp') Sign Up
      article
        h1 Toronto       
    footer
      p Created by Jordan Jerome 

    